.full_fondo {
    background-image: url("https://inewzak.github.io/ConstructoraRapelSPA/img/AreasVerdes.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

.color1 {
    background-color: rgb(148, 148, 148);
}

.transparent_background {
    opacity: 0.85;
}

.color3 {
    background-color: #ffffff;
}

.full {background: radial-gradient(circle, #1a9423, #57c84d, #a3d977, #c8e6c9);
}

.titulo {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 10px;
    justify-content: center;
}

.negro {
    color: black;
}

.letra {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.letra1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

.carousel {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-image {
    width: auto;
    height: 100%;
    max-width: 1200px;
    object-fit: cover;
}

.img_carousel {
    width: 50%;
    height: auto;
}

button {
    position: absolute;
    z-index: 1;
    top: 50%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 30px;
    justify-content: center;
    justify-items: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 10px;
    transform: translateY(-50%);
}

.next {
    right: 10px;
    transform: translateY(-50%);
}

.card {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.card.visible {
    opacity: 1;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.card img {
    transition: transform 0.3s ease-in-out;
}

.mision_vision {
    height: 120px;
    width: 120px;
}

.padi3 {
    padding: 200px;
}

.imgsocios {
    height: 98%;
    width: 98%;
    max-height: 100px;
    max-width: 100px;
}


.padi{
    padding: 5px;
}

.card {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    text-decoration: none;
    align-content: center;
}

.mision_vision, .mision_vision2 {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    transition: background-size 1.2s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center; 
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mision_vision {
    background-image: url("/img/mision.png");
}

.mision_vision2 {
    background-image: url("/img/vision.png");
}

.mision_vision::before, .mision_vision2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.mision_vision * , .mision_vision2 * {
    position: relative;
    z-index: 2;
}

.mision_vision:hover, .mision_vision2:hover {
    background-size: 130%;
}

@media (max-width: 768px) {
    .mision_vision, .mision_vision2 {
        max-height: 250px;
    }
}