.full_fondo {
    background-image: url("https://inewzak.github.io/ConstructoraRapelSPA/img/AreasVerdes.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

.color1 {
    background-color: rgb(148, 148, 148);
}

.transparent_background {
    opacity: 0.85;
}

.color3 {
    background-color: #ffffff;
}

.full {
    background: radial-gradient(circle, #1a9423, #57c84d, #a3d977, #c8e6c9);
}

.titulo {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 10px;
    justify-content: center;
}

.negro {
    color: black;
}

.letra {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.letra1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

button {
    text-align: start !important;
    text-decoration: none !important;
    color: #333333 !important;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 10px;
    transform: translateY(-50%);
}

.next {
    right: 10px;
    transform: translateY(-50%);
}


.padi {
    padding: 200px;
}

.flecha,
.flecha2 {
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    width: 100%;
}

.nosotros {
    background-image: url("https://inewzak.github.io/ConstructoraRapelSPA/img/nosotros.png");
    position: relative;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.contact {
    background-image: url("https://inewzak.github.io/ConstructoraRapelSPA/img/areas_verdes1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

.mision_vision,
.mision_vision2 {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    transition: background-size 1.2s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.mision_vision {
    background-image: url("/img/mision.png");
}

.mision_vision2 {
    background-image: url("/img/vision.png");
}

.mision_vision::before,
.mision_vision2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.mision_vision *,
.mision_vision2 * {
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {

    .mision_vision,
    .mision_vision2 {
        max-height: 250px;
    }

    .flecha,
    .flecha2 {
        height: 100%;
        width: 100%;
    }

    .flecha {
        margin-left: 10px;
    }

    .flecha2 {
        margin-right: 10px;
    }

    .marg {
        margin: 15px;
    }

    .nosotros {
        background-image: url("/img/nosotros.png");
        display: flex !important;
        position: relative !important;
        background-size: cover !important;
        background-position: center !important;
        height: 50px !important;
        width: 50px !important;
    }
}