.titulo {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.titulo1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 30px;
    margin-left: 10%;
    font-weight: bold;
}

img {
    height: 98%;
    width: 98%;
    max-height: 100px;
    max-width: 100px;
}

a {
    font-size: 15px;
}

.card {
    padding: 30px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    text-decoration: none;
    align-content: center;
}

.card.visible {
    opacity: 1;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.card img {
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
}

.padi{
    padding: 5px;
}

.color2 {
    background-color: rgb(117, 88, 145);
    color: white;
}

.padi3 {
    padding: 150px;
}

.infojefes li {
    padding: 5px;
}

.mision_vision,
.mision_vision2 {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    transition: background-size 1.2s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.mision_vision {
    background-image: url("/img/mision.png");
}

.mision_vision2 {
    background-image: url("/img/vision.png");
}

.mision_vision::before,
.mision_vision2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.mision_vision *,
.mision_vision2 * {
    position: relative;
    z-index: 2;
}
